#btn-style {
  border-radius: 50%;
  width: 2.32rem;
  height: 2.32rem;
  border-style: solid;
  border-color: slategrey;
  margin: 3px;
  outline: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  padding-top: 1rem;
  margin: 0 0.4rem 0 0.4rem;
}

.imgCanvasColor {
  border: 5px double slategrey;
  width: 30.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageCanvasWrap {
  border-top: 5px double slategrey;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  width: 30.7rem;
  height: 37.19rem;
}

.colorButtons {
  padding: 1.21rem 0 1.21rem 0;
  /* padding-top: 1.2rem;
  padding-bottom: 1.2rem; */
}

.insideWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.shirt {
  z-index: 9;
  background-color: slategrey;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 0rem;
}
