.mainCanvasDiv {
  border: 5px double slategrey;
}

.clearButton {
  padding-bottom: 1rem;
  border-radius: 5px;
}

.btns {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.main-canvas {
  border-top: 5px double slategrey;
}

.buttonsTop {
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonsBottom {
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: center;
}
