.mainCanvasDiv {
  border: 5px double slategrey;
}

.btns {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0 0.4rem;
  width: 6.7rem;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: slategrey;
  outline: none;
  cursor: pointer;
}

.bigCanvas {
  margin-top: 9px;
  height: 660px;
}
.main-canvas {
  border-top: 5px double slategrey;
  margin-top: -5px;
}

.buttonsTop {
  margin: 0.3rem 0 0.4rem 0;
  display: flex;
  justify-content: center;
}
.buttonsMiddle {
  margin: 0.2rem 0 0.4rem 0;
  display: flex;
  justify-content: center;
}
.buttonsBottom {
  margin: 0.2rem 0 0.4rem 0;
  display: flex;
  justify-content: center;
}

.brushSize {
  display: flex;
}

.sizePlus {
  width: 3.35rem;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sizeMinus {
  width: 3.35rem;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
