.mainCanvasDiv {
  border: 5px double slategrey;
}

.btns {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0 0.4rem;
  width: 6.7rem;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: slategrey;
  outline: none;
  cursor: pointer;

  /* padding: 0.5rem 1rem 0.5rem 1rem; */
}

.bigCanvas {
  margin-top: 9px;
}
.main-canvas {
  border-top: 5px double slategrey;
  margin-top: -5px;
}

.buttonsTop {
  margin: 0.2rem 0 0.2rem 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.buttonsMiddle {
  margin: 0.2rem 0 0.2rem 0;
  display: flex;
  justify-content: center;
}
.buttonsBottom {
  margin: 0.2rem 0 0.2rem 0;
  display: flex;
  justify-content: center;
}

/* color-picker style  */
.jscolor {
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  height: 35px;
  width: 6.7rem;
  /* margin-left: 3px; */
  text-align: center;
  cursor: pointer;
  outline: none;
  border-color: slategrey;
}
