.App {
  font-family: sans-serif;
  text-align: center;
}

.fullView {
  position: apsolute;
  width: 99vw;
  /* background-color: royalblue; */
  display: flex;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
}


