.App {
  font-family: sans-serif;
  text-align: center;
}

.sample-canvas {
  position: absolute;
  top: 160px;
  left: 222px;
  z-index: 10;
  width: 200px;
  height: 280px;
  background-color: rgba(0, 128, 128, 0.2);
}

/* .upper-canvas {
  width: 200px;
  height: 280px;
} */

.shirt {
  position: absolute;
  top: 60px;
  left: 100px;
  z-index: 9;
}
